<!doctype html>
<html class="darkTheme" lang="en">
  <head>
    <link rel="stylesheet" href="./Styles/header.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <header>
    <div class="for-desktop">
      <div class="topnav-desktop">
        <div class="mia-box">
          <i class="fa fa-shopping-basket" aria-hidden="true"></i>
          <span>MIA</span>
        </div>
        <div>
          <i class="fa fa-phone"></i>
          <span>+234 901 233 1330</span>
        </div>
        <div>
          <i class="fa fa-shopping-bag"></i>
          <span> Shop on MIA Stores</span>
        </div>
      </div>
      <nav class="desktop-nav">
        <a href="/" class="nav-logo">Home</a>
        <div>
          <select class="for-options">
            <option>Categories</option>
            <option>Vehicles</option>
            <option>Cloth & Fashion</option>
            <option>Accesories</option>
            <option>Electronics</option>
            <option>Gadgets</option>
            <option>SuperMarket</option>
            <option>Health and Beauty</option>
          </select>
        </div>
        <input type="search" placeholder="Search products" class="nav-search" />
        <div>Support</div>
        <select href="#" class="nav-theme">
          <option>Light Mode ☀️</option>
          <option> Dark Mode 🌙</option>
        </select>
        <a href="#" class="nav-login">Login</a>
      </nav>
    </div>
    <!-- For mobile Screens -->
    <div class="for-mobile">
      <div class="topnav-mobile">
        <div class="logo">
          <i class="fa fa-shopping-basket" aria-hidden="true"></i>
          MIA
        </div>
        <div class="toptext">
          <i class="fa fa-shopping-bag"></i>
          <span> Shop on MIA Stores</span>
        </div>
      </div>
      <div class="hambuger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
      <nav class="mobile-nav">
        <a href="/" class="nav-logo mnitem">Home</a>
        <div>
          <select class="for-options mnitem">
            <option>Categories</option>
            <option>Vehicles</option>
            <option>Cloth & Fashion</option>
            <option>Accesories</option>
            <option>Electronics</option>
            <option>Gadgets</option>
            <option>SuperMarket</option>
            <option>Health and Beauty</option>
          </select>
        </div>
        <a href="#" class="nav-support mnitem">Support</a>
        <select href="#" class="theme-icon mnitem">
          <option>Light Mode ☀️</option>
          <option>Dark Mode 🌙</option>
        </select>
        <a href="#" class="nav-login mnitem">Login</a>
      </nav>
    </div>
  </header>
  <script src="../Scripts/header.js"></script>
</html>
