body{
    background-color: var(--background-color);
    color: var(--text-color);
}
.hero{
    height: 100vh;
    background-image: url(../images/commerce\ img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--text-color);
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 100px;
}
.hero-overlay{
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    background-color: var(--overlay-bg);
}
.heroelements{
    position: relative;
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.shop-button{
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: whitesmoke;
    border: none;
    border-radius: 5px;
    width: fit-content;
    text-decoration: none;
}

/* CATEGORIES STYLING */
.categories-index{
   display: flex;
   gap: 15PX;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 40PX 20PX;
}
.index-cat-items{
    max-width: 90vw;
    overflow: auto;
    display: flex;
    gap: 20px;
    margin-top: 10px;
}
.categories-item{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
}
.categories-item img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid green;
    padding: 2px;
    cursor: pointer;
}
.categories-item img:hover{
    border: 1px solid red;
}
.promotion-element{
    width: 300px;
    height: 320px;
    background-color:  var(--background-color);
    border: 1px solid var--border-color;
    border-radius: 10px;
}
.price-cont{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}
.pro-description{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    padding: 12px 10px;
}
.pro-location{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    justify-content: space-between;
    padding: 0px 12px;
    gap: 10px;
    display: flex;
}
.price-tag{
    color: green;
    font-weight: bold;
    font-size: 20px;
}
.pro-image{
    object-fit: cover;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
@media (max-width: 760px) {
    .hero {
        margin-top: 20px;
    }
}